<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean name="bcryptEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!-- Rest authentication entry point configuration -->
    <http entry-point-ref="authenticationEntryPoint" authentication-manager-ref="authenticationManager">
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <http-basic/>
        <logout/>
    </http>

    <authentication-manager id="authenticationManager" erase-credentials="false">
        <authentication-provider user-service-ref="xanderpostUserProvider">
            <password-encoder ref="bcryptEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <global-method-security jsr250-annotations="enabled" authentication-manager-ref="authenticationManager"
                            secured-annotations="enabled"/>

    <beans:bean id="basicAuthenticationFilter"
                class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
    </beans:bean>

    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
        <beans:property name="realmName" value="Xander Post"/>
    </beans:bean>

    <beans:bean id="restAuthSuccessHandler" class="xanderpost.security.RestAuthSuccessHandler"/>

    <beans:bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
        <beans:constructor-arg>
            <beans:list>
                <filter-chain pattern="/**" filters="basicAuthenticationFilter"/>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>

</beans:beans>