<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean name="bcryptEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!-- Rest authentication entry point configuration -->
    <http use-expressions="true" entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/api/**" />
        <form-login authentication-success-handler-ref="restAuthSuccessHandler"
                        authentication-failure-handler-ref="restAuthFailureHandler" />

        <logout />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="xanderpostUserProvider">
            <password-encoder ref="bcryptEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <global-method-security jsr250-annotations="enabled" />


    <!-- Connect the custom authentication success handler -->
    <beans:bean id="restAuthSuccessHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler" />
    <!-- Using default failure handler -->
    <beans:bean id="restAuthFailureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" />

</beans:beans>