<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/xander_post"/>
        <property name="username" value="root"/>
        <property name="password" value="4837570Mind"/>
    </bean>

    <bean id="ORMSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>post.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
            </value>
        </property>
    </bean>

    <bean id="xmlMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <property name="aliases">
            <props>
                <prop key="post">xanderpost.entity.Post</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
                <entry key="xml" value="application/xml"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
                    <property name="basename" value="views"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

                <bean id="xmlView" class="org.springframework.web.servlet.view.xml.MarshallingView">
                    <property name="marshaller" ref="xmlMarshaller"/>
                    <property name="contentType" value="application/xml; charset=utf-8"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <!-- the transactional semantics... -->
        <tx:attributes>
            <!-- all methods starting with get are read-only -->
            <tx:method name="find*" read-only="true"/>
            <!-- other methods use the default transaction settings (see below) -->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="idToPostConverter"/>
            </set>
        </property>
    </bean>

    <bean id="PostController" class="xanderpost.web.controller.PostController">
        <property name="postDao" ref="postDao"  />
        <property name="validator" ref="validator"/>
    </bean>

    <bean id="postDao" class="xanderpost.repository.PostDaoHbm" >
        <property name="sessionFactory" ref="ORMSessionFactory"/>
    </bean>

    <aop:config>
        <aop:pointcut id="repositoryOperation" expression="execution(* xanderpost.repository.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="repositoryOperation"/>
    </aop:config>

    <bean id="idToPostConverter" class="xanderpost.converter.IdToPostConverter">
        <property name="postDao" ref="postDao"/>
    </bean>

</beans>