<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:argument-resolvers>
            <bean class="org.springframework.security.web.bind.support.AuthenticationPrincipalArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/xander_post"/>
        <property name="username" value="root"/>
        <property name="password" value="4837570Mind"/>
    </bean>

    <bean id="ORMSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>xanderpost.entity.Post</value>
                <value>xanderpost.entity.User</value>
                <value>xanderpost.entity.PostRating</value>
                <value>xanderpost.security.UserRole</value>
                <value>xanderpost.entity.readonly.UserInfo</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
            </value>
        </property>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="xmlMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <property name="aliases">
            <props>
                <prop key="post">xanderpost.entity.Post</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
                <entry key="xml" value="application/xml"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
                    <property name="basename" value="views"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

                <bean id="xmlView" class="org.springframework.web.servlet.view.xml.MarshallingView">
                    <property name="marshaller" ref="xmlMarshaller"/>
                    <property name="contentType" value="application/xml; charset=utf-8"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="ORMSessionFactory"/>
        <property name="hibernateManagedSession" value="false"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager" />

    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="stringToPostConverter"/>
                <ref bean="stringToUserConverter" />
            </set>
        </property>
    </bean>

    <bean id="postService" class="xanderpost.service.PostService">
        <property name="postDao" ref="postDao"/>
        <property name="postRatingDao" ref="postRatingDao"/>
    </bean>

    <bean id="PostController" class="xanderpost.web.controller.PostController">
        <property name="postService" ref="postService"/>
        <property name="userService" ref="userService"/>
        <property name="validator" ref="validator" />
    </bean>

    <bean id="postDao" class="xanderpost.repository.PostDaoHbm">
        <property name="sessionFactory" ref="ORMSessionFactory"/>
    </bean>

    <bean id="stringToPostConverter" class="xanderpost.converter.StringToPostConverter">
        <property name="postService" ref="postService"/>
    </bean>

    <bean id="userDao" class="xanderpost.repository.UserDaoHbm">
        <property name="sessionFactory" ref="ORMSessionFactory"/>
    </bean>

    <bean id="xanderpostUserProvider"
          class="xanderpost.security.UserProvider">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="userController" class="xanderpost.web.controller.UserController">
        <property name="userService" ref="userService"/>
        <property name="validator" ref="validator" />
    </bean>

    <bean id="userRoleDao" class="xanderpost.repository.UserRoleDaoHbm" >
        <property name="sessionFactory" ref="ORMSessionFactory"/>
    </bean>

    <bean id="userService" class="xanderpost.service.UserService">
        <property name="userDao" ref="userDao"/>
        <property name="userRoleDao" ref="userRoleDao" />
        <property name="passwordEncoder" ref="passwordEncoder" />
        <property name="stdRoles" >
            <array value-type="java.lang.String">
                <value>ROLE_USER</value>
            </array>
        </property>
        <property name="userInfoDao" ref="userInfoDao"/>
    </bean>

    <bean id="stringToUserConverter" class="xanderpost.converter.StringToUserConverter">
        <property name="userService" ref="userService" />
    </bean>
    <bean id="postRatingDao" class="xanderpost.repository.PostRatingDaoHbm">
        <property name="sessionFactory" ref="ORMSessionFactory"/>
    </bean>

    <bean id="userInfoDao" class="xanderpost.repository.UserInfoDaoHbm">
        <property name="sessionFactory" ref="ORMSessionFactory"/>
    </bean>
</beans>